@font-face {
  font-family: "audiowide";
  src: url(./Audiowide-Regular.ttf);
}

/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body {
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}
/* 
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 1200px;
  margin-top: 70px;
}

  .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }

  .box_for_board_and_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-left: 1px;
    text-align: center;
    width: 23%;
    font-family: "audiowide", sans-serif;
  }
    #word {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 3px solid rgb(7, 98, 21);
      height: 35px;
      margin: auto;
      border-radius: 5px;
      width: 290px;
      background-color: rgba(72, 216, 87, 0.877) ;
      font-family: "audiowide", sans-serif;
      font-size: 20px;
    }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7px;
  }

    #check-word, #shuffleButton {
      border: 2px solid rgb(7, 98, 21);
      border-radius: 5px 5px 0 0;
      width: 140px;
      height: 50px;
      background-color:  rgba(72, 216, 87, 0.877);
      font-size: 16px;
      
    }

  .top {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    border-radius: 7px 7px 0 0 ;
    font-family: "audiowide", sans-serif;
  }

  #board {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    margin: auto;
    gap: 3px;
    width: 290px;
    height: 290px;
    border-radius: 5px;
    background-color: rgb(7, 98, 21);
}
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    width: 100%;
  }

    .cube {
     width: 68px;
    height: 68px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 7px;
    background-color: rgba(72, 216, 87, 0.877);
}


.wrapper_wordscore{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 25%;
  padding:10px 5px 10px 5px;
  border: 1px solid green;
  background-color:  rgb(9, 133, 9);
  border-radius: 7px 7px 0 0;
  font-family: "audiowide", sans-serif;
}

  .countdown {
    text-align: center;
    font-size: 20px;
    color: white;
  }

  .composed-words {
    margin-top: 5px;
    min-height: 80%;
    background-color: rgba(72, 216, 87, 0.877);
    border-radius: 7px 7px 0 0;
    padding: 10px;
    font-size: 22px;
  }

  .totalscore{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7px;
    gap:10px;
    font-size: 20px;
    color: white;
  }

 .top{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid greenyellow;
    min-width: 20%;
    margin: 0 7px 0 7px;
    background-color: rgb(231, 235, 8);  
 }

    .top_players, .top_words {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      height: 8%;
      border-radius: 7px 7px 0 0;
      font-size: 18px;
      
    }

    .list {
      margin-top: 7px;
      min-height: 75%;
      background-color: rgb(243, 243, 88);
      border-radius: 7px 7px 0 0;
      margin-left: 7px;
      margin-right: 7px;
      line-height: 30px;
      font-size: 17px;
      padding: 10px;
    }

 .words {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2px;
  gap: 10px;
  font-size: 20px;
 }
 
 @media screen and (max-width: 1200px)
.container {

  max-width: 1100px;
  margin-top: 70px;
}




{
.wrapper{flex-direction: column;
min-width: 100%;
margin: 0 auto;

}


 .box_for_board_and_buttons {

    width: 100%;

  }

  #board {

    width: 900px;
    height:900px;
    

    .cube {
      width: 25%;
     height:100%;

     font-size: 55px;
  
 }


}



#word {

  height: 100px;
  width: 900px;

  font-size:50px;
}




#check-word, #shuffleButton {
  border: 2px solid rgb(7, 98, 21);
  border-radius: 5px 5px 0 0;
  width: 450px;
  height: 150px;
  background-color:  rgba(72, 216, 87, 0.877);
  font-size: 55px;
  
}

.wrapper_wordscore{
  justify-self:center;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-left: 100px;
  width: 900px;
  padding:10px 5px 10px 5px;

}


.countdown {
  text-align: center;
  font-size: 50px;
  color: white;
}



.composed-words {
  margin-top: 5px;
  min-height: 80%;
  background-color: rgba(72, 216, 87, 0.877);
  border-radius: 7px 7px 0 0;
  padding: 10px;
  font-size: 40px;
}


.top {

  margin-left: 100px;
  width: 900px;
  font-size: 50px;

}

.list{
  font-size: 30px;
}

}
