*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

.header {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 300px;
  color: gray
}

.header__logo {
  color: inherit;
  text-decoration: none;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1230px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 20px;
}

.hero__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {

  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.1;
}

.hero__subtitle {
  font-size: 32px;
  font-weight: 400;
}

.hero__links {
  display: flex;
}

.hero__link {
  margin-right: 10px;
  font-size: 30px;
  color: black;

}

.hero__link:hover {
  color: palevioletred;
}

.hero__box {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  max-width: 500px;
  justify-self: center;
  overflow: hidden;
  border: 10px solid rgb(255, 255, 255);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  animation: ava-animate 11s infinite alternate;
}



.input {
  height: 30px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input input {
  margin-bottom: 10px;
}

.input button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 40px;
  letter-spacing: 2px;
  box-shadow: 5px 5px 2px 1px rgba(57, 57, 59, 0.2);
  background-color: #da81dd;
  border: 1px solid gray ;
  margin-bottom: 20px;
  transition: background-color 1.1s ease 0s;


}

.input button:hover {
background-color: #68be2e;
}


.input button:active {
transform: scale(0.9);
box-shadow: 2px 2px 1px 0.5px rgba(57, 57, 59, 0.2);
}



.wrapper {
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.posebe{
  display: inline-block;
  max-width:600px;
  overflow: hidden;
}

.wrepper_file{

  position: relative;
}

.cnopka{
  position: absolute;
  top: 17px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.wrepper_file button{
 display: inline-flex;
 min-height: 30px;
 justify-content: center;
 align-items: center;
 padding: 0 10px;
}

.hero__link2{
  text-decoration: none;
  color: gray;
}

@keyframes ava-animate {
  0% {
    border-radius: 47% 66% 48% 58% / 65% 60% 60% 55%;
  }

  30% {
    border-radius: 15% 20% 19% 22% / 12% 11% 55% 42%;
  }

  60% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  100% {
    border-radius: 47% 53% 48% 52% / 58% 45% 55% 42%;
  }

}



.hero__box-img {
  animation: ava-bg 3s infinite alternate;
}

@keyframes ava-bg {
  0% {
    backdrop-filter: hue-rotate(0);
  }

  100% {
    backdrop-filter: hue-rotate(180deg);
  }

}


@media screen and (max-width: 978px) {

  .input {
    margin-left: 99px;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-bottom: 500px;
    font-size: 55px;

  }

  .input button {
    height: 50px;
    width: 180px;
  
  }

  .wrepper_file button{
    height: 50px;
  }
  

  .input input {
    height: 50px;
    width: 180px;
  }

  .hero {
    padding-top: 30px;
  }

  .hero__container {
    grid-row-gap: 20px;
  }

  .hero__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .hero__subtitle {
    font-size: 22px;
    font-weight: 400px;
  }

  .hero__description {
    font-size: 14px;
  }

  .hero__about {
    text-align: center;
  }

  .hero__links {
    justify-content: center;
  }

  .hero__box {
    min-width: 350px;
  }
}